body {
    width: 768px;
    margin: 20px auto;
    font-family: "Roboto Slab", Helvetica Neue, Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
}

body > header {
    text-align: center;
}

section {
    margin: 100px 0;
}

section > header {
    text-align: center;
}

#faq article {
    margin: 50px 0;
}

#rochester-made {
    text-align: center;
}

.group:after{
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

* html .group{ zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
